body {
  background-color: #000;
}
.background_data {
  background-color: #000 !important;
}
.moveLeft{
  padding-left: 20px !important;
}
.bottomline{
  width: 100%;
  height: 0.2px;
  background-color: greenyellow;
}
.hovereffect:hover{
  color: greenyellow;
}